{% extends '::base.html.twig' %}

{% block content %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="login-container">

        {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
            <h1>Login to Your Account</h1>
        {% elseif app.request.attributes.get('_route') == 'fos_user_registration_register' %}
            <h1>Create new account</h1>
        {% endif %}

        {% block fos_user_content %}
        {% endblock fos_user_content %}

        <div class="login-help">
            {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            - <a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto);
        /****** LOGIN ******/
        .login-container {
            padding: 30px;
            max-width: 350px;
            width: 100% !important;
            background-color: #F7F7F7;
            margin: 20px auto;
            border-radius: 2px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            font-family: roboto;
        }
        .login-container h1 {
            text-align: center;
            font-size: 1.8em;
            font-family: roboto;
        }
        .login-container input[type=email], input[type=text], input[type=password] {
            height: 44px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            -webkit-appearance: none;
            background: #fff;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            /* border-radius: 2px; */
            padding: 0 8px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .login-container input[type=email]:hover, input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }
        .login-container input[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
            border: 0px;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,0.1);
            background-color: #4d90fe;
            padding: 17px 0px;
            font-family: roboto;
            font-size: 14px;
        }
        .login-container input[type=submit]:hover {
            text-shadow: 0 1px rgba(0,0,0,0.3);
            background-color: #357ae8;
        }
        .login-container a {
            text-decoration: none;
            color: #666;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
        }
        .login-help{
            font-size: 12px;
        }
    </style>
{% endblock %}